@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");
@media (max-width: 1400px) {
  body {
    padding: 0;
    margin: 0;
    font-family: "Comfortaa", cursive, sans-serif;
    font-size: 20px;
    background: #aa9ff9;
  }

  .om {
    background-color: #fff;
    color: #425c70;
    width: 90%;
    height: 130px;
    margin-left: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .billed {
    margin: 10px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #e1e8fd 0%, #b59af2 60%);
  }
  img {
    width: 60%;
    max-width: 100%;
    object-fit: contain;
    padding: 2px;
  }

  #myVideo {
    height: 100%;
    width: 90%;
    margin: 17px;
    align-items: center;
  }

  button {
    background-color: rgb(72, 69, 69);
    width: 100px;
    font-size: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    align-items: center;
    font-family: "Comfortaa", cursive, sans-serif;
  }
}
@media (min-width: 1410px) {
  .splash {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../IMG/baggrund_om.webp);
  }

  .om {
    display: none;
  }

  .billed {
    display: none;
  }

  #myVideo {
    width: 32%;
    margin-top: 15.5%;
    margin-left: 28%;
  }

  .button-container-div {
    width: 250px;
    height: 70px;
    margin-left: 680px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    background-color: rgb(72, 69, 69);
    width: 100px;
    font-size: 10px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    left: -100px;
  }
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  top: -50px;
  left: 150px;
  font-size: 18px;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* om_intro.html */
@media screen and (max-width: 1200px) {
  body {
    background-color: #aa9ff9;
  }
  .vindue {
    display: none;
  }
}
@media screen and (min-width: 1300px) {
  body {
    background-image: url("../IMG/indgang.webp");
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    position: relative;
  }

  #myImage {
    width: 80px;
    height: 160px;
    transform: rotate(180deg);
    display: block;
    margin-left: -75px;
    margin-top: 83px;
  }
  .doer {
    margin-left: 947px;
    margin-top: 92px;
    width: 120px;
    height: 24px;
    border: none;
    background-color: white;
    color: #425c70;
    border-radius: 0%;
    justify-content: center;
  }
}
