@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");

/*forside  -  mobil  */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", cursive, sans-serif;
}

body {
  margin: 0;

  background: #425c70;
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}
.header {
  margin: 10vh 1.5vw;
  text-align: center;
  background-color: #aa9ff9;
}

.header h1,
.header h2 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1;
}

.header h1 {
  position: relative;
  padding-bottom: 0.5em;
  color: #ffffff;
  font-size: 2rem;
}

a {
  text-decoration: none;
  position: relative;
  padding-bottom: 0.5em;
  color: #ffffff;
  font-size: 2rem;
}

.header h2 {
  font-weight: normal;
  font-size: 0.875rem;
  color: #ffffff;
}

/*forside  -  tablet  */
@media screen and (min-width: 750px) {
  .header h1 {
    font-size: 3.75rem;
  }

  .header h2 {
    font-weight: normal;
    font-size: 1.125rem;
    letter-spacing: 0.5em;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
  .et {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .tre {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .fire {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  .et,
  .to,
  .tre,
  .fire {
    margin: 10px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #e1e8fd 0%, #b59af2 60%);
  }
}

/*forside  -  web  */
@media screen and (min-width: 1400px) {
  .header h1 {
    font-size: 6rem;
  }

  .header h2 {
    font-weight: normal;
    font-size: 1.5rem;
  }
}
img {
  width: 60%;
  max-width: 100%;
  object-fit: contain;
  padding: 2px;
}
.grid_1-1-1-1 {
  gap: 10px;
  justify-content: space-between;
  display: grid;
}

.et,
.to,
.tre,
.fire {
  margin: 10px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg, #e1e8fd 0%, #b59af2 60%);
}

/* animation  -  mobil */
/* grundlæggende web -  mobil */
/* grundlæggende indhold -  mobil */
/* grundlæggende ux -  mobil */
.info_animation {
  background-color: #ffff7b;
  color: #425c70;
  width: 80%;
  height: fit-content;
  margin-left: 45px;
  margin-top: 50px;
  padding: 5px;
  resize: both;
  overflow: auto;
}

.info_gw,
.info_indhold,
.info_ux {
  background-color: #ffff7b;
  color: #425c70;
  width: 80%;
  height: 600px;
  margin-left: 45px;
  margin-top: 70px;
  padding: 5px;
  resize: both;
  overflow: auto;
}
.billeder_animation,
.billeder_gw,
.billeder_indhold,
.billeder_ux {
  background-color: #ffff7b;
  color: #425c70;
  width: 80%;
  height: 250px;
  margin-left: 45px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 190px;
  padding-bottom: 15px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.billed_tekst {
  font-size: 12px;
  margin-left: 10px;
}
img {
  max-height: 200px;
}

/* animation -  tablet */
/* grundlæggende web -  tablet */
/* grundlæggende indhold -  tablet */
/* grundlæggende ux -  tablet */

@media screen and (min-width: 750px) {
  .info_animation,
  .info_gw,
  .info_indhold,
  .info_ux {
    background-color: #ffff7b;
    color: #425c70;
    width: 80%;
    height: 600px;
    margin-left: 90px;
    margin-top: 150px;
    padding: 5px;
    resize: both;
    overflow: auto;
  }
  .billeder_animation,
  .billeder_gw,
  .billeder_indhold,
  .billeder_ux {
    background-color: #ffff7b;
    color: #425c70;
    width: 80%;
    height: 250px;
    margin-left: 90px;
    margin-top: 50px;
    padding-bottom: 15px;
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .billed_tekst {
    font-size: 12px;
    margin-left: 10px;
  }
  /*img {
    max-height: 200px;
  }*/
}

/* animation  -  web */
/*grundlæggende web - web */
/* grundlæggende indhold  -  web */
/* grundlæggende ux  -  web */
@media screen and (min-width: 1400px) {
  .info_animation,
  .info_gw,
  .info_indhold,
  .info_ux {
    background-color: #ffff7b;
    color: #425c70;
    width: 70%;
    height: 450px;
    margin-left: 190px;
    margin-top: 150px;
    padding: 15px;
    resize: both;
    overflow: auto;
  }

  .et_ux {
    margin: 10px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }

  .billeder_animation,
  .billeder_gw {
    background-color: #ffff7b;
    color: #425c70;
    width: 70%;
    height: 250px;
    margin-left: 190px;
    margin-top: 50px;
    padding-bottom: 15px;
  }
  .billeder_indhold {
    background-color: #ffff7b;
    color: #425c70;
    width: 70%;
    height: 300px;
    margin-left: 190px;
    margin-top: 150px;
    padding: 15px;
  }
  .billeder_ux {
    background-color: #ffff7b;
    color: #425c70;
    width: 70%;
    height: 300px;
    margin-left: 190px;
    margin-top: 150px;
    padding: 15px;
  }
  .pitch-link {
    color: #425c70;
    top: 70px;
    left: 20px;
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .billed_tekst {
    font-size: 12px;
    margin-left: 10px;
  }

  .billed_tekst2_2 {
    font-size: 12px;
    margin-left: 60px;
  }
  .billed_tekst2 {
    font-size: 12px;
    margin-left: 40px;
  }
  /*img {
    max-height: 200px;
  }*/
}
